@import "components/btn";

@tailwind preflight;

@tailwind utilities;

/*-------------------------------------*\
-------- Tailwind components ------------
\*-------------------------------------*/
.column {
  @apply .rounded .bg-grey-light .flex-no-shrink .w-80 .mr-3;
}

.card-list {
  @apply .text-sm .mt-2 .overflow-y-scroll .px-2 .mr-1 .mb-2 .h-80;
}

.card {
  @apply .bg-white .rounded .mt-2 .border-l-2 .border-grey .shadow .font-normal .border-red .rounded-l;
  &:hover {
    @apply .bg-grey-lighter;
  }
}

.card-widget {
  @apply .text-center .opacity-50 .text-xs .border-r;
  &:hover {
      @apply .opacity-75;
  }
}

.sortable-chosen {
  &.sortable-ghost {
    //border: 1px solid red;
    background-color: yellow;
  }
}

.member-chosen {
  @apply .bg-blue-lighter .text-blue-dark;
}

/* Custom styles for scrollbar */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: #d6dadc;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: darkgrey;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

a {
  @apply .text-grey-darkest;
  text-decoration: none;

  &.link:hover {
    text-decoration: underline;
  }
}

.form-control {
  @apply .border .border-grey-light .bg-grey-lighter .rounded .p-2 .leading-normal .shadow-inner;
  &:focus {
    @apply .bg-white;
    outline: none;
  }
}

.search {
  padding-left: 2rem !important;
}

[v-cloak] {
  display: none;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.tags-input {
  @apply .border .border-grey-dark .p-2 .rounded;
}

.tags-input-tag {
  @apply .inline-flex .leading-none .items-center .text-sm .bg-blue-lighter .text-blue-darker .rounded .select-none .p-1 .mr-2 .mb-1;

  &:last-of-type {
    @apply .mr-0;
  }
}

.tags-input-remove {
  @apply .text-blue-dark .text-lg .leading-none;

  &:first-child {
    @apply .mr-1;
  }

  &:last-child {
    @apply .ml-1;
  }

  &:focus {
    @apply .outline-0;
  }
}

.tags-input-text {
  @apply .flex-1 .outline-0 .py-1 .ml-2 .mb-1;
  min-width: 10rem;
}

.outline-0 {
  outline: 0;
}