@tailwind preflight;

/*-------------------------------------*\
-------- Tailwind components ------------
\*-------------------------------------*/
.card-list {
  @apply .text-sm .mt-2 .overflow-y-scroll .px-2 .mr-1 .mb-2 .h-80;
}

.card {
  @apply .bg-white .p-2 .rounded .mt-2 .border-b .border-grey .shadow .font-normal;
  &:hover {
    @apply .bg-grey-lighter;
  }
}

.sortable-chosen {
  &.sortable-ghost {
    //border: 1px solid red;
    background-color: yellow;
  }
}

/* Custom styles for scrollbar */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: #d6dadc;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: darkgrey;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

@tailwind utilities;
